<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/d72a8d384d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="app/sitem.js"></script>
    
</head>

<body ng-app="SingleItem" ng-controller="SingleItemCtrl">
    <section id="header">
        <a href="index.html"><img src="assets/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Active Auctions</a></li>
                <li><a href="completedAuctions.html">Auction Histories</a></li>
                <li><a href="createListing.html">Create Listing</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-gavel fa-shake"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{{AuctionDetail.item_image}}" width="100%" id="" alt="">
        </div>
        <div class="single-pro-details">
            <div>
                <h6>Home / {{AuctionDetail.item_name}}</h6>
                <h4>{{AuctionDetail.item_name}}</h4>
                <h2>Ongoing Bid</h2>
                <h4>${{OngoingBid}}</h4>
                <button class="normal" ng-click="PlaceBid()">Place New Bid</button>
                <h4>Total Bid Placed</h4>
                <span>{{TotalBid}}</span>
                <h4>Deadline</h4>
                <span>{{DaysLeft}} days, {{HoursLeft}} hours,{{Minutesleft}} minutes & {{SecondsLeft}} seconds</span>
                <h4>Product Details</h4>
                <span>{{AuctionDetail.item_description}}</span>
            </div>
        </div>
    </section>

    
    <section id="cart" class="section-p1">
        <h2>Bid History</h2>
        <table width="100%">
            <thead>
                <tr>
                    <td>Bidder Name</td>
                    <td>Bid Amount</td>
                    <td>Bid Placed at</td>
                </tr>
            </thead>
            <tbody class="cartItems" ng-repeat="bidder in BidHistory">
                <tr>
                    <td>{{bidder.bidder_name}}</td>
                    <td>${{bidder.bid_amount}}</td>
                    <td>{{bidder.bid_timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Auctions</h2>
        <p>Check out the most engaged live auctions</p>
        <div class="pro-container" id="featuredProduct">
            <div class="pro" ng-repeat="auction in ActiveAuctions" ng-click="DirecttoProduct(auction.auction_id)">
                <img src="{{auction.item_image}}" alt="">
                <div class="des">
                    <span>{{auction.item_name}}</span>
                    <h5>{{auction.item_description}}</h5>
                    <h4>Active</h4>
                </div>
                <a href="#"><i class="fa-solid fa-gavel fa-shake"></i></a>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="assets/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
            <p><strong>Phone: </strong> +01 2222 365 / (+91) 01 2345 6789</p>
            <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.html">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="contact.html">Contact us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="login.html">Sign In</a>
            <a href="cart.html">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="contact.html">Help</a>
        </div>

        <div class="copyright">
            <p>&copy; 2023, No copyright. It's all</p>
        </div>
    </footer>
</body>

</html>